@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {margin: 0; padding: 0;}
a {color: inherit; text-decoration: none;}
li {list-style: none;}
img {vertical-align: top;}
.wrap:after, ul:after, .cl:after {content: ""; clear: both; display: block;}
.blind {position: absolute; width: 0; height: 0; font-size: 0; 
    overflow: hidden; left:-9999;}

body {font-family: 'Nanum Gothic'; font-size: 14px;}
.wrap {width: 1200px; margin: 0 auto; position: relative;}

header {background: #fff; box-shadow: 0 3px 10px rgba(0,0,0,0.5); 
    height: 70px; position: fixed; width: 100%; z-index: 99;}
header h1 {padding-top: 16px;}
header h1 a img {height: 40px;}

header .gnb {position: absolute; right: 280px; top: 0;}
header .gnb li {float: left; margin-left: 100px;}
header .gnb li a {line-height: 70px; font-weight: bold;}

header .snb {position: absolute; right: 0; top: 24px;}
header .snb li {float:left;}
header .snb li a {font-size: 12px; color: #666;}
header .snb li:after {content: "|"; color: #aaa; margin: 0 6px; 
    font-size: 12px; position: relative; top: -1px;}
header .snb li:last-child:after {display: none;}

.blank {height: 70px;}

#main {background: #f3f2f0;}

#main article {position: absolute; top: 56px; left: 60px; color: #fff;}
#main article h3 {font-size: 30px; font-weight: 900;}
#main article p {padding-top: 20px; font-size: 15px; line-height: 1.4;
    padding-bottom: 44px;}
#main article a:link, #main article a:visited
    {width: 190px; display: block;  line-height: 42px;
    border: 1px solid #fff; text-align: center;
    box-sizing: border-box; transition: 0.3s;}
#main article a:hover, #main article a:active, #main article a:focus {background: #fff; color: #000; border-radius: 100px; font-size: 15px; 
    font-weight: bold;}
#main article a i {margin-left: 5px;}

#main .wrap ul {display: flex; justify-content: center; position: absolute; bottom: 30px; left: 0; width: 100%;}
#main .wrap ul li {margin: 0 5px;}
#main .wrap ul li a {display: block; width: 12px; height: 12px; 
    border-radius: 12px; background: #fff; text-indent: 20px; 
    overflow: hidden;}
#main .wrap ul li.select a {background: #000;}

#main .wrap > a {position: absolute; top: calc(50% - 12px);}
#main .prv {left: -30px;}
#main .nex {right: -30px;}

#main > ul {padding-top: 40px;}
#main > ul li {float: left; width: 299px; margin-right: 1px;}
#main > ul li:last-child {width: 300px; margin-right: 0;}
#main > ul li a {line-height: 100px; font-size: 16px; font-weight: 900;
padding-left: 38px; display: block;}
#main > ul li:nth-child(1) a {background: #fff url(../images/icon1.png)
    no-repeat right 30px center;}
#main > ul li:nth-child(2) a {background: #fff url(../images/icon2.png)
    no-repeat right 30px center;}
#main > ul li:nth-child(3) a {background: #fff url(../images/icon3.png)
    no-repeat right 30px center;}
#main > ul li:nth-child(4) a {background: #fff url(../images/icon4.png)
    no-repeat right 30px center;}

#bnr {background: #e9e5e4;}
#bnr .wrap {padding: 40px 0;}
#bnr .wrap > a {float: left; width: 400px;}
#bnr .wrap a p {height: 48px; font-weight: 800; 
    background: #fff; padding: 14px 5px 0 18px; box-sizing: border-box;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

#bnr .arr a {position: absolute; top: calc(50% - 36px);}
#bnr .arr .prv {left: -30px;}
#bnr .arr .nex {right: -30px;}

#dp {background: #f2efec; padding-top: 80px;}

#dp .wrap article {padding: 46px 0 0 30px; float: left;}
#dp .wrap article h3 {font-size: 36px; font-weight: 900; line-height: 1;}
#dp .wrap article h3 span {font-size: 34px; word-spacing: 4px; 
    letter-spacing: 1px;}
#dp .wrap article p {padding-top: 26px; font-size: 17px; padding-bottom: 34px;
font-weight: bold; line-height: 1.4; color: #333;}
#dp .wrap article a:link, #dp .wrap article a:visited
{display: block; width: 180px;
text-align: center; line-height: 44px; box-sizing: border-box;
border: 2px solid #000; font-weight: 900; transition: 0.3s;}
#dp .wrap article a:hover, #dp .wrap article a:active, #dp .wrap article a:focus {
    background: #000; color: #fff; border-radius: 100px; font-size: 15px; 
    font-weight: bold;}
#dp .wrap article a i {margin-left: 5px;}

#dp .wrap > img {width: 800px; height: 360px; float: right;}

#dp .wrap ul {display: flex; justify-content: center; position: absolute;
    bottom: 24px; left: 0; width: 100%;}
#dp .wrap ul li {margin: 0 5px;}
#dp .wrap ul li a {width: 12px; height: 12px; border-radius: 12px; 
    background: #fff; text-indent: 20px; overflow: hidden;
    display: block;}
#dp .wrap ul li.select a {background: #000;}

#dp .wrap > a {position: absolute; top: calc(50% - 12px);}
#dp .prv {left: -30px;}
#dp .nex {right: -30px;}

#ctr {background: #e9e5e4;}
#ctr .wrap {width: 1200px;}
#ctr .wrap h2 {line-height: 120px; font-size: 30px; font-weight: 900;}
#ctr .wrap .ov {float: left;}
#ctr .wrap .ov a:link, #ctr .wrap .ov a:visited
    {width: 300px; height: 300px; color: #fff;         
    font-weight: bold; display: flex; justify-content: center; 
    align-items: center; text-align: center; line-height: 1.4;
    font-size: 16px; transition: 0.36s;}
#ctr .wrap .ov a:hover, #ctr .wrap .ov a:active, #ctr .wrap .ov a:focus
{font-size: 20px; font-weight: 900; transform: scale(1.2);}
#ctr .wrap > .ov {width: 300px; height: 300px; overflow: hidden;}
#ctr .wrap .ov:nth-of-type(1) a {background: url(../images/main_drv1.jpg)
    no-repeat left center;}
#ctr .wrap .ov:nth-of-type(2) a {background: url(../images/main_drv2.jpg)
    no-repeat left center;}
#ctr .wrap .ov:nth-of-type(3) a {background: url(../images/main_drv3.jpg)
    no-repeat left center;}
#ctr .wrap .ov:nth-of-type(4) a {background: url(../images/main_drv4.jpg)
    no-repeat left center;}

#plc {padding: 80px 0 20px 0;}

#plc .wrap .pimg a {float: left; margin-right: 30px;}
#plc .wrap .pimg a:last-child {margin-right: 0;}

#plc .wrap .pimg a p {font-weight: bold; line-height: 60px; 
padding: 0 5px;}

#plc .wrap > a {position: absolute; top: calc(50% - 42px); width: 44px;
    height: 44px; background: rgba(255, 255, 255, 0.9); display: flex;
justify-content: center; align-items: center;}
#plc .wrap > a img {height: 16px;}
#plc .wrap .prv {left: 0;}
#plc .wrap .nex {right: 0;}

footer {background: #252525; color: #ddd; height: 230px;
padding-top: 50px; box-sizing: border-box;}
footer > .wrap {height: 80px; margin-bottom: 40px;
box-sizing: border-box;}
footer .wrap .site li {float: left;}
footer .wrap .site li:after {content: "|"; margin: 0 20px;
    position: relative; top: -1px; color: #666; font-size: 13px;}
footer .wrap .site li:last-child:after {display: none;}
footer .wrap .site li:last-child a i {font-size: 10px; color: #666;
    font-style: normal; margin-left: 6px;}

footer address {padding-top: 20px;}
footer address p {float: left; font-style: normal; margin-right: 50px;
    font-size: 12px;}
footer address p:last-child {padding-top: 10px;}

footer .sns {position: absolute; right: 0; bottom: 2px;}
footer .sns a {margin-left: 20px;}
footer .sns a img {height: 20px;}

footer .bg {background: #1c1b1b;}
footer .bg .wrap {display: flex; justify-content: space-between;}
footer .bg .wrap:after {display: none;}
footer .bg .wrap a img {height: 22px; padding-top: 20px;}
footer .bg .wrap p {line-height: 60px; font-size: 12px;}